@use "../../foundation/variable" as v;
@use "../../foundation/mixin" as m;

.p-line-up{

  background-color: v.$bg-blue;
  padding: 80px;
  margin-top: 56px;

  @include m.mq(sp){
     margin-top: 0;
     padding: 40px 0;
  }

  &__head{
    color:#EA4B0F ;
    text-align: center;

    p{
      font-size: 22px;
      font-weight: bold;
      background-color: #fff;
      padding: 10px 30px;
      display: inline-block;
      border-radius: 99px;
      border:2px solid #EA4B0F ;

      @include m.mq(sp){
        font-size: 18px;
        padding: 6px 30px;
      }

    }

    h3{
      font-size: 33px;
      font-weight: bold;
      margin-top: 15px;

      @include m.mq(sp){
         font-size: 22px;
      }

    }

    span{
      font-size: 33px;
      margin-top:10px;
      display: block;

      @include m.mq(sp){
         font-size: 22px;
      }
    }
  }

  &__flex{
    display: flex;
    justify-content: center;
    margin-top: 36px;
    align-items: end;
    padding: 0;

    @include m.mq(sp){
       display: block;
       padding: 0;
       margin-bottom: 0;
    }
  }

  &__item{
    text-align: center;
    margin-right:20px ;
    width: 30%;
    max-width: 345px;

    @include m.mq(sp){
       margin-right: 0;
       margin-top: 24px;
       width: 100%;
       max-width: 100%;
    }

    &:last-child{
      margin-right: 0;
      position: relative;

      @include m.mq(sp){
        //  margin-top: 80px;
        padding-top: 80px;
      }

      .p-line-up__item-head{

        &::before{
            content: "";
              position: absolute;
              background-image: url(../img/line-up-before.png);
              background-size: contain;
              background-repeat: no-repeat;
              left: 50%;
              width: 100%;
              max-width: 200px;
              height: 57px;
              top: -9%;
              z-index: 999;
              -webkit-transform: translateX(-50%);
              transform: translateX(-50%);

              @include m.mq(sp){
                 top: 3%;
              }

        }
      }

    }

    p{
      margin-bottom: 20px;
    }


  }

  &__item-head{
    font-size: 17px;
    font-weight: bold;
    line-height: 1.4;

  }
}